<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Spa Menu</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h1>My Super Fancy Spa</h1>
<div id = "clientProfile">
    <h2>My Profile</h2>
    <p th:text="${name}"></p>
    <p th:text="${skintype}"></p>
    <p th:text="${manipedi}"></p>
</div>
<div id = "servicesMenu">
    <h3>Menu of Available Services</h3>
    <div>
        <h3 th:text="${manipedi}"></h3>
        <p th:replace="${manipedi == 'manicure'} ? ~{fragments :: manicureDescription} : ~{}"></p>
        <p th:replace="${manipedi == 'pedicure'} ? ~{fragments :: pedicureDescription} : ~{}"></p>
<!--        <th:block th:if="${manipedi == 'both'}">-->

<!--        </th:block>-->
    </div>
    <table>
        <thead>
            <tr>
            </tr>
        </thead>
        <tbody th:block th:each="treatment : ${treatments}">
            <tr><Td th:text="${treatment}"></Td></tr>
        </tbody>
    </table>
</div>
</body>
</html>